body{
    margin: 0;
    padding: 0px;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.CreateAccount {
    width: 700px;
    height: 40%;
    background: #000;
    color: white;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    top: 60%;
    padding: 70px 30px;
}

.choice {
    text-align: center;
}

.choice button {
    padding: 10px 15px;
    color: black;
    font-size: 20px;
}

.choice img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(45% - 45px);
}

.CreateAccount h1 {
    margin: 0px;
    margin-top: 35px;
    padding: 0px;
    text-align: center;
    font-size: 22px;
}

.CreateAccount label {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: block;
}

.CreateAccount input {
    width: 100%;
    margin-bottom: 20px;
}

.CreateAccount input[type="text"],
.CreateAccount input[type="password"],
.CreateAccount input[type="age"],
.CreateAccount input[type="number"] {

    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.CreateAccount input[type="submit"] {
    margin-left: 220px;
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #b00f22;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

.CreateAccount a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.CreateAccount a:hover {
    color: white;
}